NOMBRE_APLICACION=Classroom Hub BFF
VERSION_APLICACION=1.0.0
HOST=0.0.0.0
PUERTO=8000
DEBUG=True

WS_MAX_CONEXIONES=100
WS_INTERVALO_PING=20
WS_TIMEOUT_PING=20

REDIS_HOST=localhost
REDIS_PUERTO=6379
REDIS_BD=0
REDIS_CONTRASENA=

SESION_TTL=3600

LATENCIA_OBJETIVO_MS=500
